@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body, body * {
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  background-color: #a958b8;
  color: white;
  font-family: 'Noto Serif', serif;
  overflow: hidden;
}

h1 {
  font-size: 100px;
}

div.card {
  /* position: "absolute" (on se libère du layout classique) */
  position: absolute;
}
div.card > div {
  width: 200px;
  height: 200px;

  background-color: white;
  font-size: 120px;
  border-radius: 4px;

  /* centrer le contenu: */
  display: flex;
  justify-content: center;
  align-items: center;

  /* ombre portée */
  box-shadow: #0000008a 0px 8px 40px;
  user-select: none;
  cursor: pointer;

  /* animation */
  transition: all 0.2s cubic-bezier(0, 0, 0.15, 1);
}

div.card > div:hover {
  transform: scale(110%);
}
/* variété de cartes */
div.card.gold > div {
background-color: #daa520;
border: solid #dbe72f 3px;
}

div.card.silver > div {
background-color: #c0c0c0;
border: solid #898a83 3px;
background-image: url(assets/dots.png);
background-size: 50px;
}
